@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.eot');
  src:
    url('./assets/fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Inter-Bold.woff') format('woff'),
    url('./assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Light.eot');
  src:
    url('./assets/fonts/Inter-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Inter-Light.woff') format('woff'),
    url('./assets/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Medium.eot');
  src:
    url('./assets/fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Inter-Medium.woff') format('woff'),
    url('./assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.eot');
  src:
    url('./assets/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Inter-Regular.woff') format('woff'),
    url('./assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.eot');
  src:
    url('./assets/fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Inter-SemiBold.woff') format('woff'),
    url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h1 {
  /* font-size: 61px; */
  line-height: normal;
  font-weight: 400;
}

h2 {
  font-size: 49px;
  line-height: normal;
  font-weight: 400;
}

h3 {
  font-size: 39px;
  line-height: normal;
  font-weight: 400;
}

h4 {
  font-size: 35px;
  line-height: normal;
  font-weight: 400;
}

h5 {
  font-size: 25px;
  line-height: normal;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
}

.p1 {
  font-size: 16px;
}

.p2 {
  font-size: 14px;
}

.p3 {
  font-size: 12px;
}

/* CHANGE LIBRARY STYLES */

.opportunity-dots {
  width: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -50px !important;
  top: 0;
  background-color: rgb(17, 217, 60);
}

.react-multi-carousel-dot button {
  background: #e0f9e7;
  border: none !important;
}

.opportunity-dots .react-multi-carousel-dot--active button {
  background: #0177fb;
}

.react-multi-carousel-dot--active button {
  border: none !important;
}

@media (max-width: 1400px) {
  .opportunity-dots {
    left: 50% !important;
    top: 100%;
    bottom: 0 !important;
    flex-direction: row;
  }
}

.react-multi-carousel-track li {
  display: flex !important;
}

.carousel-item-padding-40-px {
  padding-right: 24px;
}

@media (max-width: 700px) {
  .carousel-item-padding-40-px {
    padding-right: 0;
  }
}

/* HERO IMG CARDS STYLES */

.info-col__hero-home {
  margin-bottom: 30px;
}

.dashboard-img__hero-home {
  width: 100%;
  max-width: 420px;
  height: auto;
  position: absolute;
  top: 60px;
  right: -70px;
}

.nft-img__product-card {
  width: 100%;
  max-width: 500px;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}

.card-group__hero-home {
  position: absolute;
  top: 100px;
  left: 50%;
}

.img-card--first {
  flex-direction: column;
  position: absolute;
  left: 70px;
}

.img-card--second {
  flex-direction: column-reverse !important;
  position: absolute;
  left: 128px;
  top: 180px;
  z-index: 2;
}

@media (max-width: 1100px) {
  .card-group__hero-home {
    left: 42%;
  }

  .dashboard-img__hero-home {
    max-width: 380px;
  }
}

@media (max-width: 1024px) {
  .dashboard-img__hero-home {
    bottom: 32px;
  }

  .nft-img__product-card {
    max-width: 470px;
  }

  .card-group__hero-home {
    top: 50px;
    left: 30%;
  }
  .hero-home,
  .product-card {
    min-height: 900px;
  }

  .info-col__hero-home {
    position: absolute;
    left: 36px;
    right: 0;
    bottom: 0;
  }

  .info-col__product-card {
    position: absolute;
    top: 32px;
    left: 32px;
    right: 32px;
  }

  .product-card .info-col__hero-home {
    top: 0;
  }
}

@media (max-width: 824px) {
  .card-group__hero-home {
    left: 20%;
  }

  .dashboard-img__hero-home {
    right: -20px;
  }
}

@media (max-width: 700px) {
  .card-group__hero-home {
    left: 70px;
  }
}

@media (max-width: 600px) {
  .card-group__hero-home {
    left: 20px;
  }

  .img-card--first {
    left: 0px;
  }

  .img-card--second {
    left: 50px;
  }

  .info-col__hero-home {
    left: 20px;
  }
}

@media (max-width: 530px) {
  .dashboard-img__hero-home {
    max-width: 330px;
    top: 20px;
  }

  .img-card--first {
    z-index: 2;
  }
}

@media (max-width: 430px) {
  .dashboard-img__hero-home {
    max-width: 300px;
    display: none;
  }

  .product-card,
  .hero-home {
    min-height: 850px;
  }

  .img-card--second {
    right: 20px;
  }
}

@media (max-width: 370px) {
  .info-col__product-card {
    top: 20px;
    left: 20px;
    right: 20px;
  }

  .card-group__hero-home {
    top: 20px;
    left: 20px;
  }
}
